@model Hospital
<h1>DETALLES</h1>
<ul>
    <li>
        @Model.IdHospital
    </li>
    <li>
        @Model.Nombre
    </li>
    <li>
        @Model.Direccion
    </li>
    <li>
        @Model.Telefono
    </li>
    <li>
        @Model.Camas
    </li>
</ul>
