@model Hospital
<h1>UPDATE</h1>
<a asp-action="Index" asp-controller="Hospitales">RETURN </a>
<form method="post">
    
    <input type="hidden" name="idhospital" value="@Model.IdHospital" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" value="@Model.Nombre" class="form-control" />
    <label>Direccion</label>
    <input type="text" name="direccion" value="@Model.Direccion" class="form-control" />
    <label>Telefono</label>
    <input type="text" name="Telefono" value="@Model.Telefono" class="form-control" />
    <label>Camas</label>
    <input type="text" name="camas" value="@Model.Camas" class="form-control" />
    <button class="btn btn-primary">
        UPDATE
    </button>
</form>
