@model List<Hospital>

<h1>Hospitales</h1>
<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
            <th>
                Camas
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Hospital hospital in Model){
            <tr>
                <td>
                    @hospital.IdHospital
                </td>
                <td>
                    @hospital.Nombre
                </td>
                <td>
                    @hospital.Direccion
                </td>
                <td>
                    @hospital.Telefono
                </td>
                <td>
                    @hospital.Camas
                </td>
                <td>
                    <a asp-controller="Hospitales" asp-action="Details" asp-route-idhospital="@hospital.IdHospital" class="btn btn-info">
                        Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
